<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá!</p>
  <p>A Equipe Fretech informa que seu pedido saiu para entrega e deverá chegar a sua casa em breve!</p>
  <p>Obrigado!
    <br />
    <strong>Equipe Fretech</strong>
  </p>
</div>
